In [1]:
num=int(input("Enter the number of which you want to see the multiplication table: "))

Enter the number of which you want to see the multiplication table: 14

In [2]:
rr=int(input('For how many numbers you want to see the table: '))

For how many numbers you want to see the table: 15

In [7]:
print("Multiplication Table for number",num,':\n')
for i in range(1,rr+1):
    print(num,'x',i,'=',num*i)

Multiplication Table for number 14 :

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140
14 x 11 = 154
14 x 12 = 168
14 x 13 = 182
14 x 14 = 196
14 x 15 = 210